body {
  font-family: 'Inter', sans-serif;
  background: var(--color-bg);
  height: 100%;
}

/* h2 {
  display: list-item;
  margin-left: 2vw;
  font-size: 2vw;
}
h2::marker {
  content: "🥦";
} */

.theme h3{
  margin: 10px 0;
  padding: 10px;
  background: var(--color-box);
  border-radius: 10px;
}


.cont_wrap { margin-left: 12px; margin-right: 12px;}



/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: var(--color-header);
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 4%);
}
@media screen and (max-width: 720px) {
  header {
    padding: 10px 8px;
    transition: padding .2s linear;

  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 720px) {
  .header__nav {
    gap: 10px;
    transition: .2s;
  }
}

.header__items { display: flex; gap: 15px; }


.ico__back { background-image: var(--ico-back); }
.ico__search { background-image: var(--ico-search) }
.ico__setting { background-image: var(--ico-settings); }

.ico__home { background-image: var(--ico-home); }


.ico__search { background-image: var(--ico-search) }
.ico__setting { background-image: var(--ico-settings); }

/* --------*/




/* --------*/

#wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
  /* min-height: 100vh; */
  margin-bottom: 100px;
  margin-top: 30px;
}
/* --------*/
@media screen and (max-width: 720px) {
  #wrap {
    flex-direction: column;
    padding: 0 0px;
  }
}



/* --------*/
.akk__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 15px 15px 0 0;
  background: var(--color-item);
  padding: 8px 15px;
  margin: -10px;
}

.user__name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user__name h3{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.akk_ico {
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-image: url(../ico/akk.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    /* border: 1px solid var(--color-border); */
}




@media screen and (max-width: 720px) { .cont__left { display: none; } }
.cont__left {
  float: left;
  width: 300px;
  transition: .2s;
}

@media screen and (max-width: 500px) { .cont__left { width: 100%; } }

.content__menu {
  position: sticky;
  top: 20px;
}
.menu__box {
  position: relative;
  padding: 10px;
  background: var(--color-box);
  border-radius: var(--radius);
  box-shadow: var(--shad);
}

.menu__tren {
  border-radius: var(--radius);
  margin-top: 15px;
}
.menu { margin-top: 30px; }

.item__menu {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 70%;
  color: #F2F2F2;
  border-radius: var(--radius);
  padding: .5em;
  transition: 0.2s;
}
.item__menu:hover {
  opacity: 100%;
  background: var(--color-item2);
  padding-left: .8em;
  transition: 0.2s;
}
.item__menu_active {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #F2F2F2;
  border-radius: var(--radius);
  padding: .5em;
}
.el__active {
  position: relative;
  background: var(--color-elements);
  border-radius: 2px;
  height: 20px;
  width: 3px;
}
.el__active {
  animation-duration: .3s;
  animation-name: el_an_ac;
  transition-timing-function: ease-in-out;
}

@keyframes el_an_ac {
  0% { left: 10px; height: 0px; }
  50% { height: 2px; }
  100% { left: 0px; }
}
/* ---------- */


.content {
  /* width: 80vh; */
  flex-basis: 0;
  flex-grow: 1;
  /* min-height: 100vh; */
  border-radius: 15px;
  border-radius: var(--radius);
  background: var(--color-box);
  box-shadow: var(--shad);
}
@media screen and (max-width: 720px) {
  .content {
    border-radius: 0px;
  }
}

.box__1 {
  margin-bottom: 20px;
  padding: 20px;
  
}
.box__1 p{
  color: #757575;
  font-size: 15px;
  margin: 20px 0;
}

.short__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box_short {
  position: relative;
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
  box-shadow: var(--shad);
  border-radius: var(--radius);
  cursor: pointer;
}

.box_short h3 { margin: 15px 0; }
.box_short:hover h3 { color: var(--color-elements); }


.img_poster {
  position: relative;
  min-width: 200px;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img_an1 { background-image: url(../img/orig.jpg); }
.img_an2 { background-image: url(../img/orig2.jpg); }

/* .short_prev {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.short_prev:hover {
  opacity: 50%;
  background: #2754a7;
} */


