body {
    font-family: 'Inter', sans-serif;
    background: var(--color-bg0);
    height: 100%;
}

/* .cont_wrap { margin-left: 12px; margin-right: 12px;} */


/* HEADER */

.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width: 720px) {
    .header__nav {
      gap: 10px;
      transition: .2s;
    }
}
.header__items { display: flex; gap: 15px; }

.ico__home { background-image: var(--ico-home); }
.ico__back { background-image: var(--ico-back); }
.ico__setting { background-image: var(--ico-settings); }

.ico__lock { background-image: var(--ico-lock); }
/* --------*/





/* --------*/

/*---------*/





/* --------*/
.akk__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 24px;
  background: #232325;
  padding: 4px 4px;
  box-shadow: var(--shad);
}
@media screen and (max-width: 720px) { .akk__box { display: none; } }

.user__name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.user__name h3{
  color: #e2e2ec;
  font-size: 14px;
  font-weight: 500;
  padding-right: 15px;
}

.akk_ico {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: url(../ico/akk.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.ico__new { background-image: var(--ico-new); }

.ico__prog { background-image: var(--ico-prog); }
.ico__workout { background-image: var(--ico-workout); }
.ico__exercises { background-image: var(--ico-exercises); }
/* ---------- */





/* Общая коробка */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    
    
    /* box-shadow: var(--shad); */
}
/* -------- */


.cont_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  /* border: 1px dashed #2d2d31; */
  background: var(--color-bg);
  border-radius: 4px;
  padding: 60px 30px;
  transition: border-radius .2s linear;
}
@media screen and (max-width: 720px) {
  .cont_1 {
    padding: 30px 8px;
    border-radius: 15px;
  }
}
.cont_1 {
  animation-duration: .6s;
  animation-name: wrap_an3;
  transition-timing-function: ease-out;
}

@keyframes wrap_an3 {
  0% { padding-top: 100px; margin-top: 50px; }
  100% { }
}
/* ---------- */





/* ---------- */
.content {
  align-items: start;
  gap: 15px;
  background: var(--color-box);
  box-shadow: var(--shad);
  border-radius: 20px;
  padding: 30px 10px;
}
@media screen and (min-width: 720px) {
  .content {
    /* border-left: 1px dashed var(--color-border); */
    /* border-right: 1px dashed var(--color-border); */
    /* padding: 20px; */
    border-radius: var(--radius);
    padding: 30px;
    padding-bottom: 60px;
  }
}
/* @media screen and (max-width: 720px) {
  .content {
    grid-template-columns: 1fr;
  }
} */
/* @media screen and (min-width: 720px) {
  .content {
  }
} */

.title__page {
    margin-bottom: 30px;
}
@media screen and (max-width: 720px) {
  .title__page {
    margin-left: 8px;
}
}
.title__page h1 { font-size: 20px; font-weight: 700; }
@media screen and (max-width: 720px) { .title__page h1 { font-size: 16px; } }
.title__page p { font-size: 15px; color: var(--color-txt-p); margin-top: 10px;}

.box__1 {
  min-width:40%;
  margin-bottom: 20px;
  border-radius: var(--radius);
  /* background: var(--color-box); */
  /* box-shadow: var(--shad); */
}

.box__1 p{
  text-align: justify;
}

.wrap__items {
  padding: 20px;
}
@media screen and (max-width: 720px) {
  .wrap__items {
    padding: 15px;
  }
}
/* --------*/

/* .title {
  background: var(--color-item);
  padding: .6em 1em;
  border-radius: 15px 15px 0 0;
}
.title h1 {
  font-size: 14px;
  font-weight: 500;
  color: #F2F2F2;
} */

/* --------*/

.box_programs2 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* margin-top: 30px; */
  /* margin-bottom: 60px; */
}
/* @media screen and (max-width: 720px) {
    .box_programs2 {
      flex-direction: column;
    }
} */

.program__up {
  max-width: 500px;
  overflow: hidden;
  border-radius: var(--radius);
  box-shadow: var(--shad);
}
@media screen and (max-width: 830px) { .program__up { width: 100%; } }

.program__up h2 {
  color: #F2F2F2;
  font-weight: 600;
}
.prew__prog1, .prew__prog2 {
  position: relative;
  padding-top: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.prew__prog1 { background-image: url(../img/prog-up.webp); background-position: bottom; }
.prew__prog2 { background-image: url(../img/prog-press.webp); }

@media screen and (max-width: 720px) { .prew__prog1, .prew__prog2 { padding-top: 70%; } }

.box_title_prog {
  background: var(--color-box);
  padding: var(--box-padding);
}

.box_title_prog li { font-size: 15px; color: var(--color-txt); margin-top: 10px; }


.title__prog {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 100%;
  bottom: 0px;
  background: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
}

.line {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  margin: 20px 0;
}


