* { margin: 0; padding: 0; }

*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}
html { scroll-behavior: smooth; }
@media only screen and (min-width: 720px) {
  html { margin-right: 4px; }
}
/*----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar {width: 6px; height: 6px;}
body::-webkit-scrollbar-corner {height: 10px;}
body::-webkit-scrollbar-track { 
  /* background-color: #0606067a; */
    /* border-radius: 2rem; */
    margin-top: 4px;
    margin-bottom: 4px;
}
body::-webkit-scrollbar-thumb { background-color: #333; border-radius: 2rem; }
body::-webkit-scrollbar-thumb:hover { background-color: #444; }
body::-webkit-scrollbar-track-piece { border-radius: 2rem; }
/*------------------------------------------*/




/* --------- */
.line_head {
  border-bottom: 1px solid var(--color-border);
  margin-left: 15px;
  margin-right: 15px;
}
/* --------- */




/*---Текст---*/
a { text-decoration: none; }
h1 { font-size: 20px; color: var(--color-txt); font-weight: 600; transition: .2s; }
@media screen and (max-width: 720px) { h1 { font-size: 18px; transition: .2s;} }

h2 { font-size: 18px; color: var(--color-txt); font-weight: 700; transition: .2s; }
@media screen and (max-width: 720px) { h2 { font-size: 16px; transition: .2s;} }

h3 { font-size: 15px; color: var(--color-txt); font-weight: 600; }

p { color: var(--color-txt-p); font-size: 15px; }
/* --------- */


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: var(--color-header);
  /* position: sticky; */
  /* top: 0px; */
  z-index: 9999;
  /* background: rgba(22, 22, 22, 0.9); */
  /* backdrop-filter: blur(10px); */
  /* box-shadow: 0 2px 7px 0 rgb(0 0 0 / 4%); */
  /* border-bottom: 1px solid #222222; */
}
@media screen and (max-width: 720px) {
  header {
    padding: 10px 10px;
    transition: padding .2s linear;
  }
}
.header__text {
  color: var(--color-header-txt);
}
.header__items { display: flex; align-items: center; gap: 15px; }
.header__grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-gap: 30px;
}
@media screen and (max-width: 720px) {
  .header__grid {
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
  }
}

/* ---ICO--- */
.ico {
  display: block;
  height: 2.1em;
  width: 2.1em;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.4em;
  border: 0px solid #222222;
  transition: 0.2s;
}

.cont__nav {
  display: flex;
  justify-content: flex-end;
}
.nav__search {
  display: flex;
  align-items: center;
  gap: 10px;
  /* max-width: 240px; */
  background: #232325;
  padding: 2px;
  border-radius: 10px;
}
@media screen and (max-width: 720px) {
  .nav__search {
    max-width: 100%;
  }
}
.nav {
  display: flex;
  align-items: center;
  background: var(--color-nav);
  box-shadow: var(--shad);
  gap: 2px;
  padding: 2px;
  border-radius: 10px;
}
/* --------- */
.ico__b {
  display: block;
  height: 2.1em;
  width: 2.1em;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.2em;
  /* background-color: #2d2d30; */
  /* border: 0px solid #222222; */
  opacity: 70%;
  transition: .2s;
}
@media screen and (max-width: 720px) {
  .ico__b {
    height: 2.1em;
    width: 2.1em;
    background-size: 1.3em 1.3em;
    opacity: 70%;
    transition: .2s;
  }
}
.ico__b:hover {
  /* border: 1px solid #2d2d31; */
  background-color: #353538;
  opacity: 100%;
}

.galochka { background-image: url(../ico/ico_galochka.png); }
.ico__dop { background-image: var(--ico-dop); }
.ico__new { background-image: var(--ico-new); }
.ico__collection { background-image: var(--ico-collection); }

.ico__lock { background-image: var(--ico-lock); }

.ico__prog { background-image: var(--ico-prog); }
.ico__workout { background-image: var(--ico-workout); }
.ico__exercises { background-image: var(--ico-exercises); }
/* --------- */





/* --------- */
.content {
  animation-duration: .3s;
  animation-name: wrap_an;
  transition-timing-function: ease-out;
}

@keyframes wrap_an {
  0% { margin-top: 60px; margin-left: 20px; margin-right: 20px;}
  100% { }
}
@media screen and (max-width: 720px) {
  @keyframes wrap_an {
    0% { margin-top: 30px; margin-left: 10px; margin-right: 10px;}
    100% { }
  }
}


/* --------- */
.menu__tren {
  animation-duration: .4s;
  animation-name: menu_an;
  transition-timing-function: ease-in-out;
}

@keyframes menu_an {
  0% { opacity: 0%; margin-top: 60px; margin-left: 10px; margin-right: 10px;}
  100% { }
}
/* --------- */






/* --------- */
@media screen and (min-width: 720px) { .menu__bottom { display: none; } }
@media screen and (max-width: 720px) {
  .menu__bottom {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0px;
    padding: 8px 10px;
    backdrop-filter: blur(10px);
    bottom: 0px;
    background: var(--bg-menu-bottom);
    z-index: 999;
    gap: 20px;
    width: 100%;
    border-top: 1px solid var(--color-border);
    /* border-radius: 20px 20px 0 0; */
  }
  .item__menu__bottom {
  background: var(--color-elements);
  border-radius: 12px;
  padding: 4px;
  }
}

/* ------- */





/* --------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e0e0e;
    min-height: 30vh;
    margin-top: 100px;
    border-radius: 4px;
}
@media screen and (max-width: 720px) {
    footer {
      border-radius: 15px;
    }
}
/* --------- */





/* ---BTN--- */
.btn__go {
  font-size: 15px;
  font-weight: 400;
  padding: .6em 1.6em;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  background-color: var(--color-elements);
  border: 1px solid var(--color-elements);
  display: block;
}
.btn__go:hover {
  color: #F2F2F2;
  background: var(--color-elements);
  border: 1px solid #fff;
  transition: .2s;
}
/* --------- */
.btn__top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: var(--color-elements);
  background-image: var(--ico-top);

  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.5em;
  transition: .2s;
}
.btn__top:hover {
  background-size: 2em;
  margin-bottom: 5px;
}


/* --Боковая копка-- */
.btn__back_fix {
  position: fixed;
  left: 0px;
  top: 10%;
  height: 80%;
  display: flex;
  align-items: center;
  /* height: 100px; */
  padding: 40px 40px 40px 0px;
  /* background-color: #a15858; */
  border-radius: 0 40px 40px 0;
  overflow: hidden;
  transition: padding .3s ease-in-out;
  margin-left: -50px;
}
.btn__back_fix:hover {
  padding-left: 50px;
}
.ico__ben {
  width: 40px;
  height: 80px;
  border-radius: 0 40px 40px 0;
  background-color: #2d2d31;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.5em;
  box-shadow: var(--shad);
  transition: border-radius .2s ease-in-out;
}
.ico__ben:hover {
  border-radius: 0 20px 20px 0;
  
}
