body {
    font-family: 'Inter', sans-serif;
    background: var(--color-bg);
    height: 100%;
}

h3 {
  font-weight: 500;
}
.cont_wrap { margin-left: 12px; margin-right: 12px;}



/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: var(--color-header);
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 4%);
}
@media screen and (max-width: 720px) {
  header {
    padding: 10px 8px;
    transition: padding .2s linear;

  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 720px) {
  .header__nav {
    gap: 10px;
    transition: .2s;
  }
}
.header__items { display: flex; gap: 15px; }

.ico__home { background-image: var(--ico-home); }
.ico__back { background-image: var(--ico-back); }

/* --------*/

/* --------*/

.title {
  background: var(--color-item);
  padding: .6em 1em;
  border-radius: 15px 15px 0 0;
}
.title h1 {
  font-size: 14px;
  font-weight: 500;
  color: #F2F2F2;
}

.title2 {
  margin-bottom: 30px;
}

/* --------*/


/* --------*/

#wrap {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 20px;
  min-height: 100vh;
  margin-bottom: 30vh;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}
/* --------*/
@media screen and (max-width: 720px) {
  #wrap {
    grid-template-columns: 1fr;
    padding: 0 8px;
  }
}
@media screen and (min-width: 1600px) {
  #wrap {
    grid-template-columns: 1fr;
    max-width: 50%;
  }
}



/* --------*/
.box__account {
  /* background: var(--color-item); */
  border-radius: var(--radius);
  /* padding: 20px; */
  box-shadow: var(--shad);
  margin-bottom: 30px;
}
/* @media screen and (max-width: 720px) { .box__account { padding: 15px; } } */
.box__account p{
  color: #757575;
  font-size: 15px;
}

.akk__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background: var(--color-box);
  border-radius: 0 0 15px 15px;
  padding: 15px;
}
.akk__box p {
  border-radius: 2em;
  border: 1px solid var(--color-border);
  padding: .4em .8em;
}

.user__name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user__name h2{
  font-size: 16px;
  font-weight: 600;
}

.akk_ico {
    display: block;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-image: url(../ico/akk.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid var(--color-box);
    background-size: 100%;
}
.galochka { background-image: url(../ico/ico_galochka.svg); }



/* Общая коробка */
.box__theme {
  margin-bottom: 30px;
  border-radius: var(--radius);
  background: var(--color-box);
  box-shadow: var(--shad);
}

.items__theme {
  padding: 20px;
}
@media screen and (max-width: 720px) { .items__theme { padding: 15px; } }
.box__theme P{
  color: #757575;
  font-size: 15px;
}

.item__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 150px;
  height: 150px;
  border: 1px dashed #2d2d31;
  background: var(--color-box);
  border-radius: var(--radius);
}

.theme {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin: 15px 0;
}

.theme h3{
  font-size: 15px;
  padding: .4em 1em;
  /* background: var(--color-box); */
  border-radius: 2em;
  cursor: pointer;
}

.change-theme {
  border: 1px solid var(--color-border);
  font-size: 15px;
  font-weight: 400;
}
.change-theme:hover {
  border: 1px solid var(--color-elements);
  transition: .2s;
}



.content {
  min-height: 80vh;
  border-radius: 15px;
}
@media screen and (min-width: 720px) {
  .content {
    border-left: 1px dashed var(--color-border);
    border-right: 1px dashed var(--color-border);
    padding: 20px;
  }
}




