body {
  font-family: 'Inter', sans-serif;
  background: var(--color-bg);
  height: 100%;
}



.theme h3{
  margin: 10px 0;
  padding: 10px;
  background: var(--color-box);
  border-radius: 10px;
}


.cont_wrap { margin-left: 12px; margin-right: 12px;}



/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  transition: 0.2s;
}
@media screen and (max-width: 720px) {
header {
  padding: 10px 12px;
  transition: 0.2s;

}
}

.header__items { display: flex; gap: 15px; }

.ico__home { background-image: var(--ico-home); }


.ico__search { background-image: var(--ico-search) }
.ico__setting { background-image: var(--ico-settings); }

/* --------*/




/* --------*/

#wrap {
  display: grid;
  align-items: start;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  margin-bottom: 30vh;
}
/* --------*/
@media screen and (max-width: 720px) {
  #wrap {
    grid-template-columns: 1fr;
    padding: 12px;
  }
}



/* --------*/
.akk__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: var(--radius);
  background: var(--color-item);
  padding: 6px 10px;
}

.user__name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.akk_ico {
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-image: url(../ico/akk.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.galochka { background-image: url(../ico/ico_galochka.svg); }
.ico__dop { background-image: var(--ico-dop); }
.ico__new { background-image: var(--ico-new); }

.ico__lock { background-image: var(--ico-lock); }

.ico__prog { background-image: var(--ico-prog); }
.ico__workout { background-image: var(--ico-workout); }
.ico__exercises { background-image: var(--ico-exercises); }



/* Общая коробка */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: var(--cont-padding2); */
  border-radius: 15px;
  height: 200px;
  width: 100%;
  border: 1px dashed #2d2d31;
  /* box-shadow: var(--shad); */
}
.box P{
  color: #4a4a4e;
}


/*---MENU---*/

.cont__left {
  margin-top: 30px;
  transition: 0.2s;
}
@media screen and (min-width: 720px) {
  .cont__left {
    position: sticky;
    top: 20px;
    margin-top: 0px;
    transition: 0.2s;
  }
}

.menu__box {
  background: var(--color-box);
  padding: 10px;
  border-radius: 15px;
  box-shadow: var(--shad);
}
.menu__tren {
  border-radius: 15px;
  margin-top: 15px;
}
.menu {
   margin-top: 30px;
   transition: 0.2s;
}

@media screen and (max-width: 720px) {
  .menu {
    border-radius: 15px;
    margin-top: 30px;
    transition: 0.2s;
 }
}
.item__menu {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 50%;
  color: #F2F2F2;
  border-radius: var(--radius);
  padding: .5em;
  transition: 0.2s;
}
.item__menu:hover {
  opacity: 100%;
  background: var(--color-item);
  padding-left: .8em;
  transition: 0.2s;
}
.item__menu_active {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #F2F2F2;
  border-radius: var(--radius);
  padding: .5em;
}
.el {
  background: var(--color-elements);
  border-radius: 2px;
  height: 20px;
  width: 3px;
}
.el {
  animation-duration: .5s;
  animation-name: el_an_ac;
  transition-timing-function: ease-in-out;
}

@keyframes el_an_ac {
  0% { height: 0px; }
  100% { }
}
/* ---------- */


.content {
  /* min-height: 100vh; */
  border-radius: 15px;
}
@media screen and (min-width: 720px) {
  .content {
    border-left: 1px dashed var(--color-border);
    border-right: 1px dashed var(--color-border);
    padding: 20px;
  }
}

.box__1 {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: var(--radius);
  background: var(--color-item2);
  box-shadow: var(--shad);
}
.box__1 p{
  color: #757575;
  font-size: 15px;
  margin: 20px 0;
}