html {
  background: var(--color-bg0);
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--color-bg0);
  height: 100%;
}
/* html {
  background: #2d2d31;
} */

.theme h3{
  /* margin: 10px 0; */
  padding: 10px;
  background: var(--color-box);
  border-radius: 10px;
}
.bg {
  min-height: 100vh;
  background: var(--color-bg);
  border-radius: 4px;
  overflow: hidden;
  transition: padding .2s linear;
}

.cont_wrap { margin-left: 12px; margin-right: 12px;}



/* HEADER */

.header__items { display: flex; gap: 15px; }

.ico__home { background-image: var(--ico-home2); }


.ico__search { background-image: var(--ico-search) }
.ico__setting { background-image: var(--ico-settings); }
.ico__menu { background-image: var(--ico-menu); opacity: 30%; }
.ico__exit {
  background-image: var(--ico-exit);
  opacity: 30%;
}
.ico__favourites {
  background-image: var(--ico-favourites);
}

/* --------*/

/* .video__item,
.video__item iframe {
  object-fit: cover;
  width: 400px;
  height: 220px;
  border-radius: 8px;
} */


/* --------*/

#wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px 20px;
  /* min-height: 100vh; */
  margin-bottom: 100px;
  /* margin-top: 30px; */
  background: var(--color-bg);
  border-radius: 4px;
  transition: border-radius .2s linear;
  box-shadow: var(--shad);
}
/* --------*/
@media screen and (max-width: 720px) {
  #wrap {
    flex-direction: column;
    padding: 15px 12px;
    border-radius: 15px;
  }
}
/* --------*/
#wrap__center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 20px; */
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 0px;
  transition: padding .2s linear;
}
/* --------*/
@media only screen and (max-width: 720px) {
  #wrap__center {
    padding: 20px 12px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 720px) { #wrap__center { padding: 30px 15px; }}
@media only screen and (min-width: 992px) { #wrap__center { padding: 30px 60px; }}
@media only screen and (min-width: 1200px) { #wrap__center { padding: 30px 80px; max-width: 1200px; }}
@media only screen and (min-width: 1400px) { #wrap__center { padding: 60px 80px; max-width: 1200px;}}
@media only screen and (min-width: 1600px) {
  #wrap__center {
    padding: 60px 100px;
    max-width: 1200px;
  }
}
#wrap__center h1 {
  font-size: 24px;
}
@media only screen and (max-width: 720px) {
  #wrap__center h1 {
    font-size: 20px;
    /* padding: 10px; */
  }
}
/* ---------- */
/* --------*/
.akk__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 12px 12px 0 0;
  background: var(--color-item);
  padding: 8px;
  margin: -2px;
}
.admin {
  display: flex;
  align-items: center;
  /* background-color:#58a0ee5d; */
  padding: 0px 10px 0px 0px;
  /* border-radius: 8px; */
}
.admin p {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}
.user__name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user__name h3{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.akk_ico {
    display: block;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-image: url(../ico/akk.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.line {
  width: 100%;
  height: 1px;
  margin: 2px 0;
  background-color: var(--color-border2);
}


/* Общая коробка */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: var(--cont-padding2); */
  border-radius: 15px;
  height: 200px;
  width: 100%;
  border: 1px dashed #2d2d31;
  /* box-shadow: var(--shad); */
}


/*---MENU---*/

.cont__left {
  float: left;
  width: 300px;
  transition: .2s;
}
@media screen and (max-width: 500px) { .cont__left { width: 100%; } }

.content__menu {
  position: sticky;
  top: 80px;
}
.menu__box {
  position: relative;
  padding: 2px;
  overflow: hidden;
  background: var(--color-box);
  border-radius: var(--radius);
  box-shadow: var(--shad);
  border: 1px solid var(--color-border2);
}

.menu__tren {
  border-radius: var(--radius);
  margin-top: 15px;
}
.menu { margin-top: 10px; }

.item__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  opacity: 70%;
  color: #F2F2F2;
  border-radius: 9px;
  padding: .3em;
  transition: 0.2s;
}
.item__menu:hover {
  opacity: 100%;
  background: var(--color-item2);
  padding-left: .6em;
  transition: 0.2s;
}
.item__menu_active {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #F2F2F2;
  border-radius: var(--radius);
  padding: .3em;
}
.el__active {
  position: absolute;
  left: 0px;
  background: var(--color-elements);
  border-radius: 0 2px 2px 0;
  height: 25px;
  width: 3px;
}
.el__active {
  animation-duration: .3s;
  animation-name: el_an_ac;
  transition-timing-function: ease-in-out;
}

@keyframes el_an_ac {
  0% { left: 10px; height: 0px; }
  50% { height: 2px; }
  100% { left: 0px; }
}
.it__items {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* ---------- */


.content {
  /* width: 80vh; */
  flex-basis: 0;
  flex-grow: 1;
  min-height: 100vh;
  border-radius: 15px;
}

.box__1 {
  margin-bottom: 20px;
  /* padding: 20px; */
  /* border-radius: var(--radius); */
  /* background: var(--color-box); */
  box-shadow: var(--shad);
}
.box__1 p{
  color: #757575;
  margin: 20px 0;
}

/* ------------- */
