:root {
    --color-bg: radial-gradient(67.87% 108.15% at 50% 50%, #C4DBFF 0%, #ECD9FF 55.21%, #E7E7FE 100%);
    --color-txt: #2B2B2B;
    --color-txt-p: #8d8d8d;
    --color-box: rgba(255, 255, 255, 0.7);
    
    --color-header: rgba(255, 255, 255, 0.7);
    --color-item: #2E3031;
    --color-item2: #fff;
    --color-border: #c2c2c2;
    --color-border2: #dddddd;

    --color-elements: rgb(56, 155, 248);
    
    /* ICO */
    --ico-back: url(../ico/ico_back_dark.svg);
    --ico-home: url(../ico/ico_home_dark.svg);
    --ico-settings: url(../ico/ico_settings_dark.svg);
    --ico-search: url(../ico/ico_search_dark.svg);
    --ico-dop: url(../ico/ico_dop.svg);
    --ico-new: url(../ico/ico_new_dark.svg);
    --ico-collection: url(../ico/ico_collection_dark.svg);
    --ico-prog: url(../ico/ico_prog_dark.svg);
    --ico-workout: url(../ico/ico_workout_dark.svg);
    --ico-exercises: url(../ico/ico_exercises_dark.svg);

    --fil-prog: none;

    --ico-lock: url(../ico/ico_lock_dark.svg);
    --ico-hint: url(../ico/ico_hint_dark.svg);

    --radius: 15px;
    --box-padding: 20px;

    --shad: 0px 2px 7px rgb(0 0 0 / 4%);

    --cont-padding: 30px;
    --cont-padding2: 15px;

    --bg-menu-bottom: rgb(255 255 255 / 0.9);

}
/* ------------------------------- */
h1 { font-weight: 700; }
h3 { font-weight: 600; }
p { font-weight: 400; }
/* ------------------------------- */




/* ------------------------------- */
.change-theme[data-theme="light-book"] {
    background: var(--color-elements);
    border: 1px solid var(--color-elements);
    color: #F2F2F2;
}
/* ------------------------------- */
