/*----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar-thumb { background-color: #444; border-radius: 2rem; }
body::-webkit-scrollbar-thumb:hover { background-color: #666; }
body::-webkit-scrollbar-track-piece { border-radius: 2rem; }
/*------------------------------------------*/
:root {
    --color-bg0: #151516;
    --color-bg: #151516;
    --color-txt: #F2F2F2;
    --color-txt-p: #b1b1b1;
    --color-txt2: #f5f5f5;
    --color__p2: #aaabad;
    --color-box: #1f1f1f;
    --color-i-box: #191919;

    --color-header2: rgb(15 15 15 / 90%);
    --color-header-txt: #F2F2F2;
    --color-item: #19191a;
    --color-item2: #181818;
    --color-item-title: #2e2e30;

    --color-elements: #EC6B0E;
    --color-border: #353535;
    --color-border2: #292929;
    --color-nav: #232325ef;
    --color-hover: #353538;
    /* --color-elements: #3282CD; */
    /* ICO */
    --ico-back: url(../ico/ico_back.svg);
    --ico-home: url(../ico/ico_home.svg);
    --ico-home2: url(../ico/ico_home.svg);
    --ico-settings: url(../ico/ico_settings.svg);
    --ico-exit: url(../ico/ico_exit.svg);
    --ico-menu: url(../ico/ico_menu.svg);
    --ico-exit: url(../ico/ico_exit.svg);
    --ico-close: url(../ico/ico_close.svg);
    --ico-help: url(../ico/ico_help.svg);
    --ico-search: url(../ico/ico_search.svg);
    --ico-top: url(../ico/ico_top.svg);
    --ico-dop: url(../ico/ico_dop.svg);
    --ico-new: url(../ico/ico_new.svg);
    --ico-collection: url(../ico/ico_collection.svg);
    --ico-favourites: url(../ico/ico_favourites.svg);
    --ico-prog: url(../ico/ico_prog.svg);
    --ico-workout: url(../ico/ico_workout.svg);
    --ico-exercises: url(../ico/ico_exercises.svg);

    --fil-prog: url(../img/fil-prog-up.webp);

    --ico-lock: url(../ico/ico_lock.svg);
    --ico-hint: url(../ico/ico_hint.svg);

    --radius: 12px;
    --box-padding: 20px;
    --margin: 20px;

    --shad: none;

    --cont-padding: 30px;
    --cont-padding2: 15px;

    --bg-menu-bottom: rgba(40, 40, 40, 0.9);

}
@media only screen and (max-width: 720px) {
    :root {
        --box-padding: 15px;
    }
}

h1 { font-weight: 600; letter-spacing: 0.01em; }
h2 { font-weight: 600; }
h3 { font-weight: 400; }
p { font-weight: 400; }

.change-theme[data-theme="dark-gold"] {
    background: var(--color-elements);
    border: 1px solid var(--color-elements);
}

/* a {
    color: #F2930C;
    text-decoration: underline;
} */
