:root {

    --color-bg: #0D0D0D;
    --color-txt: #e2e2e2;
    --color-box: #161616;

    --color-header: #1b1b1d00;
    --color-item: #1D1D1E;
    --color-item2: #181818;

    --color-elements: #5480F1;
    --color-border: #222224;
    /* --color-elements: #3282CD; */
    /* ICO */
    --ico-back: url(../ico/ico_back.svg);
    --ico-home: url(../ico/ico_home.svg);
    --ico-settings: url(../ico/ico_settings.svg);
    --ico-search: url(../ico/ico_search.svg);
    --ico-dop: url(../ico/ico_dop.svg);
    --ico-new: url(../ico/ico_new.svg);
    --ico-prog: url(../ico/ico_prog.svg);
    --ico-workout: url(../ico/ico_workout.svg);
    --ico-exercises: url(../ico/ico_exercises.svg);

    --fil-prog: url(../img/fil-prog-up.webp);

    --ico-lock: url(../ico/ico_lock.svg);
    --ico-hint: url(../ico/ico_hint.svg);

    --radius: 15px;

    --shad: 0;

    --cont-padding: 30px;
    --cont-padding2: 15px;

}

h1 { font-size: 22px; color: var(--color-txt); font-weight: 500; transition: .2s; }
@media screen and (max-width: 720px) { h1 { font-size: 18px; transition: .2s;} }
h3 { font-size: 15px; color: var(--color-txt); font-weight: 400; }

.change-theme[data-theme="darken"] {
    background: var(--color-elements);
    border: 1px solid var(--color-elements);
}

/* a {
    color: #F2930C;
    text-decoration: underline;
} */
