:root {
	/* color */
    --color-bg0: #151515;
    --color-bg: #f2f2f2;
    --color-txt: #353535;
    --color-txt-p: #8d8d8d;
    --color-txt2: #f5f5f5;
    --color__p2: #aaabad;
    --color-box: #FFFFFF;
    --color-i-box: #f7f7f7;
    
    --color-header: #151516;
    --color-header-txt: #F2F2F2;
    --color-item: #2d2d31;
    --color-item2: #f7f7f7;
    --color-item-title: #2d2d31;
    --color-border: #dddddd;
    --color-border2: #ebebeb;

    --color-elements: rgb(56, 155, 248);
    --color-nav: #232325;
    --color-hover: #353538;
    
    /* ICO */
    --ico-back: url(../ico/ico_back.svg);
    --ico-home: url(../ico/ico_home.svg);
    --ico-home2: url(../ico/ico_home_dark.svg);
    --ico-settings: url(../ico/ico_settings.svg);
    --ico-exit: url(../ico/ico_exit.svg);
    --ico-menu: url(../ico/ico_menu.svg);
    --ico-close: url(../ico/ico_close.svg);
    --ico-help: url(../ico/ico_help.svg);
    --ico-search: url(../ico/ico_search.svg);
    --ico-top: url(../ico/ico_top.svg);
    --ico-dop: url(../ico/ico_dop.svg);
    --ico-new: url(../ico/ico_new_dark.svg);
    --ico-collection: url(../ico/ico_collection_dark.svg);
    --ico-prog: url(../ico/ico_prog_dark.svg);
    --ico-workout: url(../ico/ico_workout_dark.svg);
    --ico-exercises: url(../ico/ico_exercises_dark.svg);

    --fil-prog: none;

    --ico-lock: url(../ico/ico_lock_dark.svg);
    --ico-hint: url(../ico/ico_hint_dark.svg);

    --radius: 16px;
    --box-padding: 20px;
    --margin: 20px;

    --shad: 0px 2px 5px rgb(0 0 0 / 2%);

    --cont-padding: 30px;
    --cont-padding2: 15px;

    --bg-menu-bottom: rgb(255 255 255 / 0.5);

}
/* ------------------------------- */


  /* .color__item[data-tempcolor='Ogange'] {
    :root
        --color-elements: rgb(56, 155, 248);
    
  } */




/* ------------------------------- */
h1 { font-weight: 700; }
h3 { font-weight: 600; }
p { font-weight: 400; }
/* ------------------------------- */
/*----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar-thumb { background-color: #333; border-radius: 2rem; }
body::-webkit-scrollbar-thumb:hover { background-color: #444; }
body::-webkit-scrollbar-track-piece { border-radius: 2rem; }
/*------------------------------------------*/



/* ------------------------------- */
.change-theme[data-theme="light"] {
    background: var(--color-elements);
    border: 1px solid var(--color-elements);
    color: #fff;
}
/* ------------------------------- */