:root {

    --color-bg: #F2F2F2;
    --color-txt: #2C2C2E;
    --color-box: #FFFFFF;

    --color-header: #fff;
    --color-item: #2E3031;
    --color-item2: #EFEFEF;
    --color-border: #c2c2c2;

    --color-elements: rgb(2, 133, 255);
    /* --color-elements: #3282CD; */
    /* ICO */
    --ico-back: url(../ico/ico_back_dark.svg);
    --ico-home: url(../ico/ico_home_dark.svg);
    --ico-settings: url(../ico/ico_settings_dark.svg);
    --ico-search: url(../ico/ico_search_dark.svg);
    --ico-dop: url(../ico/ico_dop.svg);
    --ico-new: url(../ico/ico_new_dark.svg);
    --ico-prog: url(../ico/ico_prog_dark.svg);
    --ico-workout: url(../ico/ico_workout_dark.svg);
    --ico-exercises: url(../ico/ico_exercises_dark.svg);

    --fil-prog: url(../img/fil-light-p_up.png);

    --ico-lock: url(../ico/ico_lock_dark.svg);
    --ico-hint: url(../ico/ico_hint_dark.svg);

    --radius: 15px;

    --shad: 0px 2px 7px rgb(0 0 0 / 4%);

    --cont-padding: 30px;
    --cont-padding2: 15px;

}

h1 { font-weight: 700; }
h3 { font-weight: 500; }

.change-theme[data-theme="light"] {
    background: var(--color-elements);
    border: 1px solid var(--color-elements);
    color: #F2F2F2;
}
